 .nav{
    background-color: #30adc7;
    height: 110px;
 }

 ul li{
    display: inline-block;
    padding-right:  20px;
    padding-left: 10px;
    float: left;
    padding-top: 35px;
    padding-bottom: 20px;

 }

 li > a{
    font-family: TREBUCHET MS, serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
 }

 li > a:hover{
     opacity: 0.7;
 }

 .edit-hr{
    font-family: TREBUCHET MS, serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
 }

 .label{
    font-size: 21px;
    font-family: Arial, serif;;
    color: black;
 }

 .buttons{
    border: 1px solid #888888;
    font-size: 25px;
    background-color: #30adc7;
    color: white;
    float: right;
    cursor: pointer;
    margin-right: 3px;
    font-family: TREBUCHET MS, serif;
 }

 .buttons:hover{
     opacity: 0.7;
 }

 .button-save{
    border: 1px solid #888888;
    font-size: 2.0rem;
    height: 60px;
    width: 200px;
    font-family:TREBUCHET MS, serif;
    background-color: #30adc7;
    color: white;
    cursor: pointer;
    float: right;
    margin-bottom: 25px;
 }

 .button-save:hover{
    opacity: 0.7;
 }

 .button-cancel:hover{
     opacity: 0.7;
 }

 .button-cancel{
    border: 1px solid #888888;
    font-size: 2.0rem;
    height: 60px;
    width: 200px;
    background-color: #30adc7;
    color:white;
    cursor: pointer;
    float: left;
    margin-bottom: 25px;
    font-family: TREBUCHET MS, serif;
 }

 .div-but{
    width: 450px;
    padding-left: 37%;
     margin-left: -160px;
 }

 .table-attach{
    width: 100%;

    border: solid lightgray 1px;
    margin-top: 2px;
 }

 .modal {
    width: 600px;
    padding: 1rem;
    border: 1px solid #717171;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #888888;
    background-color: white;
    font-family: Arial, serif;
 }

 .modal .header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #888888;
    font-family: Arial, serif;
    color: black;
 }

 .modal .header .close:hover:after {
    opacity: 0.6;
 }

 .modal .body .field {
    margin: 15px 0;
 }

 .modal input {
    font-size: 1rem;
    height: 30px;
    padding-left: 10px;
    width: 400px;
 }


 .modal label {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    font-family: Arial, serif;
    font-size: 20px;
    color: black;
 }

 .modal .submit {
    padding-top: 1rem;
 }

 .modal .submit button {
    border: 1px solid #888888;
    font-size: 1.5rem;
    background-color: #30adc7;
    color: white;
    float: right;
    cursor: pointer;
    font-family: TREBUCHET MS, serif;
 }

 .modal .submit button:hover {
    opacity: 0.7;
 }

 .modal .submit button:active {
    opacity: 0.9;
 }

 .modal .submit .cancel {
    border: 1px solid #888888;
    font-size: 1.5rem;
    background-color: #30adc7;
    color: white;
    float: left;
    cursor: pointer;
    font-family: TREBUCHET MS, serif;
 }

 .modal .submit .cancel:hover {
    opacity: 0.7;
 }

 .modalPones {
    width: 600px;
    padding: 1rem;
    border: 1px solid #717171;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 5px #888888;
    background-color: white;
    font-family: Arial, serif;
 }

 .modalPones .header {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #888888;
    font-family: Arial, serif;
    color: black;
 }

 .close{
    float: right;
    color: #717171;
    text-decoration: none;
 }

 .modalPones .header .close:hover:after {
    opacity: 0.6;
 }

 .modalPones .body .field {
    margin: 15px 0;
 }

 .modalPones .body .field2 {
    margin: 15px 0;
 }

 .modalPones input {
    font-size: 1rem;
    height: 30px;
    padding-left: 10px;
    width: 350px;
 }

 .modalPones select {
    font-size: 1rem;
    height: 25px;
    padding-left: 10px;
    width: 200px;
 }

 .modalPones label {
    width: 150px;
    display: inline-block;
    text-align: right;
    padding-right: 15px;
    font-family: Arial, serif;
    font-size: 20px;
    color: black;
 }

 .modalPones .error {
    color: red;
    margin-top: 5px;
    visibility: hidden;
 }

 .modalPones .invalid .error {
    visibility: visible;

 }

 .modalPones .submit {
    padding-top: 1rem;
 }

 .modalPones .submit button {
    border: 1px solid #888888;
    font-size: 1.5rem;
    background-color: #30adc7;
    color: white;
    float: right;
    cursor: pointer;
    font-family: TREBUCHET MS, serif;
 }

 .modalPones .submit button:hover {
    opacity: 0.7;
 }

 .modalPones .submit button:active {
    opacity: 0.9;
 }

 .modalPones .submit .cancelPhone {
    border: 1px solid #888888;
    font-size: 1.5rem;
    background-color: #30adc7;
    color: white;
    float: left;
    cursor: pointer;
    font-family: TREBUCHET MS, serif;
 }

 .modalPones .submit .cancelPhone:hover {
    opacity: 0.7;
 }

 .inp-div{
    margin-bottom: 5px;
    overflow: hidden;
    margin-top:15px;
 }

 .inp-div input {
    float: right;
    height: 35px;
    width: 400px;
    background-color: whitesmoke;
    line-height: 19px;
    padding: 0 5px;
    border: 1px solid lightgray;
 }

 .inp-div select {
    float: right;
    height: 35px;
    width: 400px;
    background-color: whitesmoke;
    line-height: 19px;
    padding: 0 5px;
    border: 1px solid lightgray;
}

 .form {
    margin: 0 auto;
    width: 550px;
    padding-bottom: 20px;
 }

 h2 {
    text-align: center;
    color: black;
 }

 .tab {
     padding-top: 20px;
     padding-bottom: 20px;
     width: 900px;
     //padding-left: 28%;
     margin-left: -180px;
 }

 .tab-label {
    float: left;
    font-size: 35px;
    color: black;
 }

 .input-small {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
 }

 tr {
    border-top: solid lightgray 1px;
    border-bottom: solid lightgray 1px;
 }

 table{
    border: solid lightgray 1px;
 }

 th {
    text-align: left;
    font-family: "Arial";
    font-size: 25px;
    padding-bottom: 20px;
    padding-top: 12px;
 }

 td {
    border-top: solid lightgray 1px;
    font-family: "Arial Narrow";
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
 }

 .required:after {
     content: ' *';
 }

 .text{
     text-align: center;
     font-family: Arial, serif;
     font-size: 25px;
 }

 .err {
     color: red;
     margin-left: 150px;
 }

 .error-box {
     font-size: 11px;
     margin-top: 5px;
     background-color: #717171;
 }

 .er {
     background-color: #30adc7;
 }