.nav{
    background-color: #30adc7;
    height: 110px;
}

 ul li{
    display: inline-block;
    padding-right:  20px;
    padding-left: 10px;
     float: left;
    padding-top: 35px;
    padding-bottom: 20px;

 }

 li > a{
     font-family: TREBUCHET MS, serif;;
    color: white;
    text-decoration: none;
    font-size: 30px;
 }

li > a:hover{
    opacity: 0.7;
}

 .edit-hr{
     font-family: TREBUCHET MS, serif;
    color: white;
    text-decoration: none;
    font-size: 30px;
 }

.edit-hr:hover{
    opacity: 0.7;
}

 .edit-href {
    text-decoration: none;
    color: black;
 }

.edit-href:hover{
    text-decoration: underline;
}


 .label{
    font-size: 20px;
    font-family: "Arial Black";
    color: black;
 }

 .table-show {
     width: 100%;
    border-collapse: collapse;
     padding-top: 10px;
 }

 tr {
    border-bottom: solid lightgray 1px;
 }

 th {
       border-bottom: solid lightgray 1px;
       font-family: "Arial";
       font-size: 25px;
       padding-bottom: 40px;
       padding-top: 5px;
 }

 td {
     font-family: "Arial Narrow";
     font-size: 23px;
     padding-bottom: 25px;
     padding-top: 25px;
 }

 .page-href{
     text-decoration: none;
     color: #30adc7;
     font-size: 2rem;
     font-family: TREBUCHET MS, serif;
 }

.page-href:hover{
    opacity: 0.7;
}

 .page-nav{
     text-decoration: none;
     color: #30adc7;
     font-size: 2rem;
     font-family: TREBUCHET MS, serif;
 }

.page-nav:hover{
    opacity: 0.7;
}

 .pag {
     align-content: center;
     padding-top: 5px;
     padding-left: 39%;
 }

 .t-body{
    text-align: center;
 }

a:active,
a:hover {
    outline: 0;
}

.input-txt {
    float: right;
    height: 30px;
    width: 350px;
    background-color: whitesmoke;
    line-height: 19px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
}

.crit{
    margin: 0px auto;
    width: 550px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.cont-div{
    margin-bottom: 5px;
    overflow: hidden;
    padding-bottom: 5px;
}




